.checkbox {
    display: none;
}

.checkbox-custom {
    margin-right: 10px;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff75;
    border-radius: 3px;
}

.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #ffffffcf;
    border-radius: 2px;
}

.doneTask {
    text-decoration: line-through;
}

.input:focus {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffffcf;;
    border: 1px solid #3d52f1cf;
    padding: 3px;
    border-radius: 3px;
}
